*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container
{
    display: flex;

    width: 300px;
    margin: 20px;

    list-style-type: none;

    border: 1px solid #ccc;
}
.list
{
    padding: 10px 20px;

    flex: 1;
    background: #f5f5f5;
}
.list:hover
{
    cursor: pointer;
}
.list + .list
{
    border-left: 1px solid #ccc;
}
